body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

#nav-head {
    border-bottom: solid #E0E0E0 1px;
    margin: 5px;
}

#tags-section {
    border-left: solid #E0E0E0 1px;
    padding-left: 15px;
    padding-top: 15px;
}

#links-section {
    padding-left: 20px;
    padding-top: 15px;
}

ul, form {
    font-size: 1.2em;
}

h3 {
    padding-bottom: 15px;
}

