
<header class="span7">
  <h1>Chaplin save-links application</h1>
</header>
<nav class="span5">
  <ul class="nav nav-pills">
    <li class="active">
      <a href="/">Save</a>
    </li>
    <li>
      <a href="/read-links">Read</a>
    </li>
  </ul>
</nav>
  