
<div class="navbar-inner">
  <div class="container">
    <a class="brand" href="/">Chaplin Bookmarks</a>
      <ul class="nav">
        <li class="active"><a href="/">Save</a></li>
        <li><a href="/read-links">Read</a></li>
        <!--<li><a href="#contact">About</a></li>-->
      </ul>
    </div>
  </div>
</div>




  