<h3>Save a new link.</h3>

<form class="link">
  <fieldset>
    <div>
      <label>Name</label>
      <input name="name" type="text" class="span3">
    </div>
    <div>
      <label>Url</label>
      <input name="url" type="text" class="span3">
    </div>
    <div>
      <label>Tags</label>
      <input name="tags" type="text" class="span3">
    </div>
      <button type="submit" class="btn">Save</button>
  </fieldset>
</form>