<h3 title="test" rel="tooltip">Bookmark a website!</h3>

<form class="link">
  <fieldset>
    <div>
      <label>Url</label>
      <input name="url" type="text" class="span5">
    </div>
    <div>
      <label>Tags</label>
      <input rel="tooltip" name="tags" type="text" class="span5" 
      title="Write a comma separated list of tags or choose from existing ones by clicking on the tags list">
    </div>
      <button type="submit" class="btn">Save</button>
      <img class="loading" style="display: none;" src="../img/loading.gif">
  </fieldset>
</form>